/* You can add global styles to this file, and also import other style files */

html {
    background: linear-gradient(to top, #e96443, #904e95);
    min-height: 100vh;
    font-family: sans-serif;
    color: #8d4994;
    font-size: 16px;
}

@media(max-width: 450px) {
    html {
        font-size: 14px;
    }
}

@media(min-width: 900px) {
    html {
        font-size: 20px;
    }
}